/*  Variables */
$color-header: #0F110C;
$color-footer: #0F110C;
$blanco: #ffffff;
$background-claro: #F4F4F5;
$background-oscuro: #4E4E56;
$color-principal: #5B1865;
$color-secundario: #FF9F1C; 

$fuente-titulos: 'Fjalla One', sans-serif;
$fuente-texto: 'Nunito', sans-serif;

/*  General */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 90%; /* tamaño en mobile */
    margin: 0 auto;
}


img {
    width: 100%;
}

/* Tipografia */

%formato-texto {
    font-family: $fuente-texto;
    font-size: 1.25em;
    font-weight: 400;
}

%formato-titulos {
    font-family: $fuente-titulos;
}

h1, h2, h3 {
    margin-top: 0;
}

h2 {
    @extend %formato-titulos;
    text-transform: uppercase;
    font-size: 2.45em;
    margin-bottom: .4em;
}

p {
    @extend %formato-texto;
}

/*  Botones */
.btn {
    @extend %formato-titulos;
    font-size: 1.25em;
    background-color: $color-principal;
    color: $blanco;
    padding: .75em 1.5em;
    text-decoration: none;
    display: inline-block;
    border: 2px solid $color-principal;

    &:hover {
        color: $color-principal;
        background-color: $blanco;
        border: 2px solid $color-principal;
    }

    &--grande {
        padding: 1em 2em;
    }
}


/*  Header, responsive nav bar */
header {
    height: 50px;
    width: 100%;
    background-color: $color-header;
    position: relative;
}
  
.nav > .nav-header {
    display: inline;
}
  
.nav > .nav-header > .nav-title {
    @extend %formato-titulos;
    display: inline-block;
    font-size: 1.56em;
    color: $blanco;
    padding: 10px;
}

.nav > .nav-header > .nav-title > a {
    color: $blanco;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        color: $color-secundario;
    }
}

.nav > .nav-btn {
    display: none;
}
  
.nav > .nav-links {
    @extend %formato-titulos;
    display: inline;
    float: right;
    font-size: 1.25em;
}
  
.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: $blanco;
}
  
.nav > .nav-links > a:hover {
    color: $color-secundario;
}
  
.nav > #nav-check {
    display: none;
}
  
/*  Footer */
footer {
    height: 50px;
    width: 100%;
    background-color: $color-footer;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__iconos {
        color: $blanco;
        font-size: 2em;
        padding-left: .6em;
        padding-top: .1em;

        &:hover {
            color: $color-secundario;
        }
    }
}


/*  Home */
.main-home {
    height: calc(100vh - 50px);
    background-image: url(../img/home2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 4em 0;
}

.destacado {
    width: 80%;
    margin: 0 auto;
    max-width: 500px;
    background-color: $background-claro;
    padding: 1.75em 2em;
    border-radius: 5px;

    &__texto {
        margin: 0.7em 0;
    }
}


/*  Menu hamburguesa para mobile */
@media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
      margin-right: 5.5%;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: $background-oscuro;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid $blanco;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color:$color-header;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
}
