/*  Variables */
$color-header: #0F110C;
$color-footer: #0F110C;
$blanco: #ffffff;
$background-claro: #F4F4F5;
$background-oscuro: #4E4E56;
$color-principal: #5B1865;
$color-secundario: #FF9F1C; 

$fuente-titulos: 'Fjalla One', sans-serif;
$fuente-texto: 'Nunito', sans-serif;

/*  General */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 90%; /* tamaño en mobile */
    margin: 0 auto;
}

img {
    width: 100%;
}

/* Tipografia */

%formato-texto {
    font-family: $fuente-texto;
    font-size: 1.25em;
    font-weight: 400;
}

%formato-titulos {
    font-family: $fuente-titulos;
}

/*  Header, responsive nav bar */
header {
    height: 50px;
    width: 100%;
    background-color: $color-header;
    position: relative;
}
  
.nav > .nav-header {
    display: inline;
}
  
.nav > .nav-header > .nav-title {
    @extend %formato-titulos;
    display: inline-block;
    font-size: 1.56em;
    color: $blanco;
    padding: 10px;
}
  
.nav > .nav-btn {
    display: none;
}
  
.nav > .nav-links {
    @extend %formato-titulos;
    display: inline;
    float: right;
    font-size: 1.25em;
}
  
.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: $blanco;
}
  
.nav > .nav-links > a:hover {
    color: $color-secundario;
}
  
.nav > #nav-check {
    display: none;
}
  
/*  Home */
.main-home {
    height: calc(100vh - 50px);
    background-image: url(../img/home2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/*  Menu hamburguesa para mobile */
@media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
      margin-right: 5.5%;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: $background-oscuro;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid $blanco;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color:$color-header;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
}
