@charset "UTF-8";
/*  Variables */
/*  General */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F4F4F5;
}

.container {
  width: 90%;
  /* tamaño en mobile */
  margin: 0 auto;
  max-width: 1100px;
}

img {
  width: 100%;
}

/* Tipografia */
p, li {
  font-family: "Nunito", sans-serif;
  font-size: 1.25em;
  font-weight: 400;
}

h1, h2, .btn, .nav > .nav-header > .nav-title, .nav > .nav-links {
  font-family: "Fjalla One", sans-serif;
}

h1, h2, h3 {
  margin-top: 0;
}

h1 {
  font-size: 3.05em;
  margin-top: 0.75em;
}

h2 {
  text-transform: uppercase;
  font-size: 2.45em;
  margin-bottom: .4em;
}

/*  Botones */
.btn {
  font-size: 1.25em;
  background-color: #5B1865;
  color: #ffffff;
  padding: .75em 1.5em;
  text-decoration: none;
  display: inline-block;
  border: 2px solid #5B1865;
  margin-right: 2em;
}

.btn:hover {
  color: #5B1865;
  background-color: #ffffff;
  border: 2px solid #5B1865;
}

.btn--grande {
  padding: 1em 2em;
}

/*  Header, responsive nav bar */
header {
  height: 50px;
  width: 100%;
  background-color: #0F110C;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 1.56em;
  color: #ffffff;
  padding: 10px 0;
}

.nav > .nav-header > .nav-title > a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.nav > .nav-header > .nav-title > a:hover {
  color: #FF9F1C;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 1.25em;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #ffffff;
}

.nav > .nav-links > a:hover {
  color: #FF9F1C;
}

.nav > #nav-check {
  display: none;
}

/*  Footer */
footer {
  height: 50px;
  width: 100%;
  background-color: #0F110C;
}

.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.redes__iconos {
  color: #ffffff;
  font-size: 2em;
  padding-left: .6em;
  padding-top: .15em;
}

.redes__iconos:hover {
  color: #FF9F1C;
}

/*  Página Home */
.main-home {
  height: calc(100vh - 50px);
  background-image: url(../img/home2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 4em 0;
}

.destacado {
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
  background-color: #F4F4F5;
  padding: 1.75em 2em;
  border-radius: 5px;
}

.destacado__texto {
  margin: 0.7em 0;
}

/*  Página Discografía */
.disco {
  background-color: #ffffff;
  padding: 2em;
  margin: 1.5em auto;
  max-width: 460px;
  /* máximo para mobile */
  border-radius: 10px;
}

.disco:hover {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.disco__img {
  max-width: 335px;
  margin: 0 auto;
}

.disco__texto {
  margin-top: 1.5em;
}

.disco__texto__titulo {
  margin-top: 0;
}

.disco__texto__temas {
  padding-left: 0;
  list-style-position: inside;
  margin-bottom: 1.5em;
}

/*  Página Fotos */
.fotos {
  display: -ms-grid;
  display: grid;
  grid-gap: 6px;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: dense;
  margin-bottom: 1.5em;
}

.fotos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fotos div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.horizontal {
  grid-column: span 2;
}

.grande {
  grid-column: span 2;
  grid-row: span 2;
}

/* Layout para mobile */
@media (max-width: 600px) {
  /*  Menu hamburguesa para mobile */
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: 5.5%;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
    background-color: #4E4E56;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #ffffff;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #0F110C;
    height: 0px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  /*  Ajusta grid de fotos para mobile */
  .horizontal {
    grid-column: span 1;
  }
  .grande {
    grid-column: span 1;
    grid-row: span 1;
  }
}

/*  Layout para tablet */
@media (min-width: 800px) {
  /*  Cambia diseño discos en la página Discografía*/
  .disco {
    max-width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 1.5em 0;
  }
  .disco__img {
    width: 40%;
  }
  .disco__texto {
    padding-left: 2.5em;
    margin-top: 0;
    width: 60%;
  }
  .disco__texto__temas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 4em;
    margin-bottom: 0;
  }
  .disco__texto__temas__col {
    margin-bottom: 1.5em;
  }
}

/*  Layout para desktop */
@media (min-width: 1000px) {
  /*  Footer: mueve iconos redes a la derecha */
  .redes {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  /*  Home: cambia alineación del cuadro destacado */
  .destacado {
    margin: 0;
    margin-top: 15%;
  }
}
/*# sourceMappingURL=main.css.map */